# Version control
.git
.gitignore

# Frontend
visual/
node_modules/
.next/

# Python / Environment
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/
.pytest_cache/
.coverage
htmlcov/

# IDE settings
.vscode/
.idea/
